input[type="text"] {
    text-align: center;
    width: 2em;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

caption {
    font-weight: bold;
    font-size: x-large;
}

td:nth-child(3n) {
    border-right: 2px solid black;
}

tr:nth-child(3n) {
    border-bottom: 2px solid black;
}

td:last-child,
tr:last-child {
    border-right: none;
    border-bottom: none;
}

div {
    text-align: center;
}

#message {
    text-align: center;
}